@import "tailwindcss";
*{
  color: #fff;
}
body{
  background-color: #1c1c1c;
}
#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}